#portfolio {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.portaTitulo {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
}

.tarjetaContainer {
    display: flex;
    flex-direction: row;
    object-position: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width:271px) {
    
    .portaTitulo {
        font-size: 2rem;
    }
}