* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", "sans-serif";
}

body {
    background: var(--body_background);
        color: var(--text-color);
    overflow: hidden;
    overflow-y: scroll;
}
:root {
    --body_background: #ffffff;
    --text-color: rgb(0, 0, 0);
    --tercer-color: rgb(207, 176, 110);
    --filtro: invert();
    --tarjeta: #ff990025;
    --efecto: 0.6;
}

[data-theme="dark"] {
    --body_background: #1e1e1e;
    --text-color: rgb(255, 255, 255);
    --tercer-color: #4f4dcc;
    --filtro: none;
    --tarjeta: #141414;
    --efecto: 1;

}


#icon {
    height: 1.7rem;
    background-color: var(--cuarto-color);
    border-radius: 0.5rem;
}