* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", "sans-serif";
}

body {
    background: var(--body_background);
        color: var(--text-color);
    overflow: hidden;
    overflow-y: scroll;
}
:root {
    --body_background: #ffffff;
    --text-color: rgb(226, 191, 125);
    --tercer-color: rgb(214, 147, 3);
    --filtro: invert();
    --tarjeta: rgba(255, 153, 0, 0.144);
}

[data-theme="dark"] {
    --body_background: #1e1e1e;
    --text-color: rgb(255, 255, 255);
    --tercer-color: #4f4dcc;
    --filtro: none;

}


#icon {
    height: 1.7rem;
    background-color: var(--cuarto-color);
    border-radius: 0.5rem;
}