#inicio {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 9rem;
    right: -4rem;
    z-index: -1;
    object-fit: cover;
    height: 50vh;
    filter: blur(0.1rem);
    filter: grayscale(100%);
    opacity: 0;
    transform: translateX(-30rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.bg.show {
    opacity: var(--efecto);
    transform: translateY(0);
  }


.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(-30rem);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.introContent.show {
    opacity: 1;
    transform: translateY(0);
  }

.hello {
    font-size: 1.75rem;
    font-weight: 400;
}

.introName {
    color: var(--tercer-color);
}

.introPara {
    font-size: medium;
    font-weight: 300;

}

.btn {
    background: var(--text-color);
    margin: 1rem 0;
    color: var(--body_background);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.6rem;
    font-weight: 500;
    width: 8rem;
}

.btn:hover {
    background-color: var(--tercer-color);
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
    filter: var(--filtro);
}















@media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }

    .introText {
        font-size: 3rem;
    }

    .hello {
        font-size: 4.5vw;
        font-weight: 400;
    }
}

@media  screen and (max-width:660px) {
    .introText, .introName {
        font-size: 3rem;
    }
}

@media  screen and (max-width:550px) {
    .introText, .introName {
        font-size: 2.5rem;
    }
}

@media  screen and (max-width:500px) {
    .introText, .introName {
        font-size: 2.5rem;
    }
    .introPara {
        font-size: 0.7rem;
    }
    .bg {
        right: -12vw;

    }
}

@media screen and (max-width:480px) {
    .bg {
        right: -13vw;
    }

    .introText {
        font-size: 2rem;
    }
}

@media screen and (max-width:430px) {
    .bg {
        right: -20vw;
    }
    .introText, .introName {
        font-size: 2rem;
    }
}

@media screen and (max-width:390px) {
    .bg {
        right: -20vw;
    }

    .introText {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:360px) {
    .bg {
        right: -30vw;
    }
    .introText, .introName {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:300px) {
    .bg {
        right: -60vw;
    }
    .introName {
        font-size: 1.4rem;
    }

    .introText {
        font-size: 1rem;
    }
}



