.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 4rem;
    filter: var(--filtro);
}

.menu {

}

.menuList {
    margin: 1rem;
    cursor: pointer;
}

.menuList:hover {
    color: var(--tercer-color);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--tercer-color);
}

.btnNav {
    background-color: var(--text-color);
    color: var(--body_background);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem 1rem 1rem 2rem;
    font-weight: 700;
}

.btnNav:hover{
    background-color: var(--tercer-color);
}

.btnNavImg {
    object-fit: cover;
    filter: var(--filtro);
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}