.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: var(--body_background);
}

.logo {
    object-fit: cover;
    height: 4rem;
    filter: var(--filtro);
}

.active {
    color: var(--tercer-color);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid var(--tercer-color);
}

.menuList {
    margin: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.menuList:hover {
    color: var(--tercer-color);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--tercer-color);
}

.btnNav {
    background-color: var(--text-color);
    color: var(--body_background);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem 1rem 1rem 2rem;
    font-weight: 700;
}

.btnNav:hover{
    background-color: var(--tercer-color);
}

.btnNavImg {
    object-fit: cover;
    filter: var(--filtro);
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: var(--body_background);
    border-radius: 1rem;

}

.mobMenu{
    display: none;
    filter: var(--filtro);

}

.mobList {
    color: var(--text-color);
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: var(--tarjeta);
}

@media screen and (max-width:720px) {
    .mobMenu {
        display: flex;
    }

    .menu {
       display: none; 
    }

    .btnNav {
        display: none;
    }
}